# Папки настроек пользователя 
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Папки отладки и профилирования
*.aps
*.pch
*.ncb
*.opt
*.ipdb
*.idb
*.ilk

# Специфичные папки Visual Studio
Debug/
Release/
x64/
x86/
build/
out/

# Временные файлы компилятора
*.exp
*.tlog
*.lastbuildstate
*.manifest
*.res
*.pdb

*.exe
*.dll


.todo