# Папки настроек пользователя 
.vs/
.qtcreator/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
.idea/
android/.gradle
android/local.properties

# Папки отладки и профилирования
*.aps
*.pch
*.ncb
*.opt
*.ipdb
*.idb
*.ilk

# Специфичные папки Visual Studio
Debug/
Release/
x64/
x86/
build/
out/
android/app/src/main/jniLibs/

# Временные файлы компилятора
*.exp
*.tlog
*.lastbuildstate
*.manifest
*.res
*.pdb

*.exe
*.dll

.qwen/
HISTORY.md
PLAN.md
cli

.todo
/android/app/.cxx/RelWithDebInfo/1k2d3n5a
