<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.darkxwn.billvlad.towerdefence"> <!-- Убедись, что совпадает с build.gradle.kts -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" />

    <application
        android:label="Project: Gyurza"
        android:hasCode="true"
        android:allowBackup="true"
        android:fullBackupContent="true">

        <activity android:name="android.app.NativeActivity"
            android:label="Project: Gyurza"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:exported="true">
            <meta-data android:name="android.app.lib_name" 
                       android:value="tower-defence" /> <!-- ПРОВЕРЬ ЭТО ИМЯ! -->
            <meta-data android:name="android.max_aspect" android:value="2.4" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>